*{
    margin-top: 0;
    padding: 0;
}


.sky img{
    width: 100%;
}

.sky {
    position: relative;
    background-image: url(../assets/img/how2BtbjjDpofnaa2cyKeG.jpg);
    height: 100vh;
    
}

.sun{
    position: relative;
    height: 400px;
    width: 400px;
    margin-left: 100px;
    top: 25px;
    z-index: 2;
    background-image: url(../assets/img/d6r3ze7-ede358d7-7d74-4d99-a023-c41de93b093b.png);
}
.earth img{
    width: 100px;
    height: 100px;
     top: 45%;
    left: 0%;
    right: 0%; 
    position: absolute;
  animation-name: example;
  animation-duration: 4s;
  animation-direction: reverse;
  animation-iteration-count: infinite;
  z-index: 1; 
  transform: rotate(360deg);
    
}
@keyframes example {
    0%   {width: 100px; height: 100px; left:10px; top:10px;}
    25%  { width: 100px; height:100px;left:400px; top:10px;}
    50%  {width: 150px; height:150px;left:400px; top:400px;}
    75%  {width: 200px; height:200px;left:10px; top:400px;}
    100% {width: 100px; height:100px;left:10px; top:10px;}
  }